<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="jquery.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <style>
            .active {
                color: red;
            }
            .activeRoom {
                color: green;
            }
            #div-list {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
            hr {
                visibility: hidden;
            }
        </style>    
    </head>
    <body>
        <h1>Khoa Pham training</h1>
        <div id="div-chat">
            <form onsubmit="sendText(event);">
                <input type="text" placeholder="Enter your message" id="txtMessage">
                <br><br>
                <button id="btnSend">Send Message</button>
            </form>
            <button id="btnSendPrivate">Send Private Message</button>
            <br>
            <button id="btnSendRoom">Send In Room</button>
            <hr>
            <div id="div-list">
                <div>
                    <label>Messages:</label>
                    <ul id="listMessage">
                    </ul>
                </div>
                <div>
                    <label>Online Users:</label>
                    <ul id="listUser">
                    </ul>
                </div>
                <div>
                    <label>List Room</label>
                    <ul id="listRoom">
                        <li id="ROOM-ANCHOI" class="li-room">An choi</li>
                        <li id="ROOM-HOCTAP" class="li-room">Hoc Tap</li>
                        <li id="ROOM-CONGVIEC" class="li-room">Cong viec</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="div-sign-up">
            <input type="text" placeholder="Enter your username" id="txtUsername">
            <br><br>
            <button id="btnSignUp">Sign Up</button>
        </div>
    </body>
    <script src="xuLy.js"></script>
</html>