<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="jquery.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <style>
            .active {
                color: red;
            }
        </style>    
    </head>
    <body>
        <h1>Khoa Pham training</h1>
        <div id="div-chat">
            <form onsubmit="sendText(event);">
                <input type="text" placeholder="Enter your message" id="txtMessage">
                <br><br>
                <button id="btnSend">Send Message</button>
            </form>
            <label>Message:</label>
            <ul id="listMessage"></ul>
            <hr>
            <label>Online User:</label>
            <ul id="listUser"></ul>
        </div>
        <div id="div-sign-up">
            <input type="text" placeholder="Enter your username" id="txtUsername">
            <br><br>
            <button id="btnSignUp">Sign Up</button>
        </div>
    </body>
    <script src="xuLy.js"></script>
</html>