<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="jquery.js"></script>
        <script src="socket.io/socket.io.js"></script>
    </head>
    <body>
        <h1>Khoa Pham training</h1>
        <form onsubmit="sendText(event);">
            <input type="text" placeholder="Enter your message" id="txtMessage">
            <br><br>
            <button id="btnSend">Send Message</button>
        </form>
    </body>
    <script src="xuLy.js"></script>
</html>